<section class="section_frame1-filters frame3 py-3">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <button class="filter-btn btn filters-btn">
        View by |
        <span class="text-white">
          {{ currentEnabled === "" ? "All" : currentEnabled }}</span>
        <span class="text-white" *ngIf="currentSelectedValue">
          | {{ currentSelectedValue }}</span>
      </button>
      <button class="filter-btn btn filters-btn d-flex" (click)="dropdownChange('')">
        <mat-icon class="text-white">refresh</mat-icon>
      </button>
      <ng-container>
        <ng-container *ngFor="let filterValue of filterBy">
          <div class="btn-group">
            <button class="filter-btn" mat-button (click)="dropdownChange(filterValue.name)" [disabled]="
                  currentEnabled === '' || currentEnabled === filterValue.name
                    ? false
                    : true
                " [matMenuTriggerFor]="dropDown">
              {{ filterValue.name }}
            </button>
            <mat-menu #dropDown="matMenu">
              <ng-container *ngIf="!loading && !error">
                <ng-container *ngFor="let list of dropDownList[filterValue.responseName]">
                  <button mat-menu-item (click)="
                      dropdownMenuCliked(list[filterValue.findName], filterValue.db_name, list.id, filterValue.responseName)
                    ">
                    {{ list[filterValue.findName] }}
                  </button>
                </ng-container>
              </ng-container>
            </mat-menu>
          </div>

        </ng-container>
      </ng-container>
    </div>
  </div>
</section>

<section class="section_frame1-intro py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="frame1-intro box-shadow br-15 px-1 py-4 text-center h-100" *ngIf="loading && !error">
          Loading...
        </div>
        <div class="frame1-intro box-shadow br-15 px-1 py-4 text-center h-100" *ngIf="!loading && !error">
          <doughnut-chart [title]="'Well Being Quotient'" [value]="totNoOfRes"></doughnut-chart>
          <p class="pt-4 fs-30">{{ totNoOfRes }}</p>
          <button class="filter-btn btn filter-modal fs-16 bgc-orange px-5 text-white br-30"
            (click)="overview.show()">Sample</button>
        </div>
      </div>

      <div class="col-12 text-center pt-4">

        <a *ngIf="currentUser.report != '' && currentUser.report != null"
          class="filter-btn btn filter-modal fs-16 bgc-blue text-white br-30 px-5" rel="noopener noreferrer"
          [href]="report" target="_blank">Report</a>
      </div>

      <div class="col-12 pt-4 mt-3 overall-dimensions">
        <h2 class="fs-25 mb-4 pb-3 cl-purple text-center">DIVERSITY, EQUITY & INCLUSION DIMENSIONS</h2>
        <div class="row">
          <ng-container *ngFor="let well of wellBeing; let i = index">
            <div class="col-lg-3 pb-4">
              <div class="frame1-intro box-shadow br-15 p-4 text-center h-100">
                <ng-container *ngIf="loading && !error">
                  Loading...
                </ng-container>
                <ng-container *ngIf="!loading && !error">
                  <div>
                    <h4>{{well.name}}</h4>
                    <p>{{wellBeingDesc[i]}}</p>
                  </div>
                  <doughnut-chart [title]="well.name" [value]="wellBeingTot[i]" [titleDisplay]="false"></doughnut-chart>
                </ng-container>
                <p class="pt-4 fs-30 mb-3">
                  {{ wellBeingTot[i] }} <span *ngIf="wellBeingTrade[i]"> | {{wellBeingTrade[i]}}
                    <!-- <img *ngIf="wellBeingTrade[i] == 0" src="assets/images/normal.jpeg"
                      [ngStyle]="{'width': '20px', 'height':'20px'}"> -->
                    <img *ngIf="wellBeingTrade[i] > 0" src="assets/images/increase.png"
                      [ngStyle]="{'width': '20px', 'height':'20px'}">
                    <img *ngIf="wellBeingTrade[i] < 0" src="assets/images/decrease.png"
                      [ngStyle]="{'width': '20px', 'height':'20px'}">
                  </span>
                </p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-12 pt-4" id="heat">
        <h2 class="fs-25 mb-5 cl-purple text-center">WELL-BEING HEAT MAP</h2>
        <ng-container *ngIf="loading && !error">
          <div class="box-shadow box-overflow p-5 br-15 mb-50">
            <ng-container *ngFor="let heat of filterBy;let i = index" class="">
              <div *ngIf="graphValue[heat.responseName] && graphValue[heat.responseName].length > 0" [ngClass]="
                currentEnabled === '' || currentEnabled === heat.name
                  ? 'show'
                  : 'hide'
              ">
                <span *ngIf="i==0">Loading...</span>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="!loading && !error">
          <div class="box-shadow box-overflow padding-5 br-15 mb-50">
            <ng-container *ngFor="let heat of filterBy; let i = index" class="">
              <div *ngIf="graphValue[heat.responseName].length > 0" [ngClass]=" currentEnabled==='' ||
                currentEnabled===heat.name ? 'show' : 'hide' ">
                <app-heatmapgraph [name]="heat.name" [data]="graphValue[heat.responseName]" [xData]="wellBeing"
                  [yData]="data.dropDownList[heat.responseName]" [minColorHeat]="data.color1"
                  [maxColorHeat]="data.color3" [middleColorHeat]="data.color2" [searchName]="heat.findName"
                  [dbName]="heat.db_name" [id]="i">
                </app-heatmapgraph>
                <!-- <app-heatmap [name]="heat.name" [minColorHeat]="data.color1" [maxColorHeat]="data.color2"
                  [minColorHeat]="data.color1" [maxColorHeat]="data.color2" [data]="graphValue[heat.responseName]"
                  [xData]="wellBeing" [yData]="data.dropDownList[heat.responseName]" [searchName]="heat.findName"
                  [dbName]="heat.db_name">
                </app-heatmap> -->
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
      <!-- <div class="col-12 pt-5">
        <h2 class="fs-25 mb-5 cl-purple text-center">WELL-BEING HEAT MAP</h2>
        <ng-container *ngIf="loading && !error">
          <ng-container *ngFor="let heat of filterBy" class="">
            <div class="box-shadow box-overflow padding-5 br-15 mb-50" [ngClass]="
                currentEnabled === '' || currentEnabled === heat.name
                  ? 'show'
                  : 'hide'
              ">
              Loading...
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!loading && !error">
          <div class="box-shadow box-overflow p-5 br-15 mb-50">
            <app-heatmap [name]="filterBy[0].name" [data]="graphValue[filterBy[0].responseName]" [xData]="wellBeing"
              [yData]="data.dropDownList[filterBy[0].responseName]" [searchName]="filterBy[0].findName"
              [dbName]="filterBy[0].db_name">
            </app-heatmap>
          </div>
        </ng-container>
      </div> -->
      <div class="col-12 pt-5" *ngIf="sumOfAllData['employee_mood'] == 1">
        <h2 class="fs-25 mb-5 cl-purple text-center">
          EMPLOYEE MOOD ANALYSIS
        </h2>
        <div class="box-shadow p-5 br-15">
          <bar-chart *ngIf="!loading && !error" [data]="employeeMood"></bar-chart>
          <!-- <div *ngIf="loading && !error">
            Loading...
          </div> -->
        </div>
      </div>
      <div class="col-12 pt-5" *ngIf="sumOfAllData['employee_feeling'] == 1">
        <h2 class="fs-25 mb-5 cl-purple text-center">EMPLOYEE FEELINGS</h2>

        <div class="box-shadow p-5 br-15">
          <radar-chart *ngIf="!loading && !error" [data]="employeeFeeling"></radar-chart>
          <!-- <div *ngIf="loading && !error">
            Loading...
          </div> -->
        </div>
      </div>
      <div class="col-12">
        <h2 class="fs-25 mb-3 cl-purple text-center">OPEN TEXT ANALYSIS</h2>

        <div class="d-flex justify-content-center align-items-center">
          <p class="cl-purple text-center mb-0 mr-4">Choose question :</p>
          <button type="button" class="filter-btn btn br-30" (click)="showChildModal(0, 'openText')">
            Click to select<span class="caret"></span>
          </button>
        </div>

        <div class="row pt-5">
          <div class="col-lg-12">
            <div *ngIf="!loading && !wordLoading && !error">
              <p class="text-center">
                <span class="font-bold cl-orange pr-1" *ngIf="opentextvalues[selectedOpentext]?.question">{{
                  opentextvalues[selectedOpentext]?.category_name }} : </span>{{
                opentextvalues[selectedOpentext]?.question }}
              </p>
              <p class="text-center" *ngIf="opentextvalues[selectedOpentext]?.questionvaluestatus == 1">
                % of disagreement : <span class="font-bold cl-orange pr-1">
                  {{opentextvalues[selectedOpentext]?.questionvalue}} %</span>
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div *ngIf="(loading || wordLoading) && !error" class="h-100">Loading...</div>
            <app-wordcloud *ngIf="!loading && !wordLoading && !error" [data]="openVal"></app-wordcloud>
          </div>
          <div class="col-lg-6">
            <div *ngIf="!loading && !wordLoading && !error" class="box-shadow br-15 pl-5 pr-4 py-4 flex-container h-100"
              [innerHTML]="
                opentextvalues[selectedOpentext]?.statement != null ? opentextvalues[selectedOpentext]?.statement : '' | safeHtml
              "></div>
            <div *ngIf="loading || wordLoading && !error" class="box-shadow br-15 pl-5 pr-4 py-4 flex-container">
              Loading...
            </div>
          </div>
        </div>
        <!-- SELECT POPUP -->
        <div bsModal #openTextModal="bs-modal" class="modal fade select" tabindex="-1" role="dialog"
          aria-labelledby="dialog-sizes-name1">
          <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content p-4">
              <div class="">
                <button type="button" class="close pull-right" (click)="hideChildModal('openText')" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body px-0 pt-2 pb-0">
                <ul class="mb-0 open-text">
                  <ng-container *ngFor="let text of opentextvalues; let i = index">
                    <li (click)="hideChildModal('openText', i)">
                      <div>
                        <span class="font-bold cl-orange pr-1">{{ text?.category_name }} : </span>{{ text?.question }}
                      </div>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- RESPONSE OVERVIEW POPUP -->
<div bsModal #overview="bs-modal" [config]="{ignoreBackdropClick : true}" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="">
        <button type="button" class="close pull-right" (click)="overview.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Response Overview</h1>
        <div class="row">
          <ng-container *ngFor="let pie of overviewResponse; let i = index">
            <div class="col-md-6 col-xs-12" [ngStyle]="{'padding': '20px 0'} ">
              <h2 class="tiitle-h2">{{ pie.name.name }}</h2>
              <pie-chart [colorValue]="i" [data]="pie.values" [name]="pie.name"
                [dropDownData]="data?.dropDownList[pie.name.responseName]">
              </pie-chart>
              <!-- <div class="row">
              <div class="col-md-6">
                <pie-chart [data]="pie.values" [name]="pie.name"
                  [dropDownData]="data.dropDownList[pie.name.responseName]"></pie-chart>
              </div>
              <div class="col-md-6">
                <h2 class="tiitle-h2">{{ pie.name.name }}</h2>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-sm-6">
                      <h1>Top 3</h1>
                      <ng-container *ngFor="let topBottom of pie.top">
                        <p>
                          {{
                          getValues(
                          pie.name.responseName,
                          topBottom[pie.name.db_name],
                          pie.name.findName
                          )
                          }}
                          <b>[{{ topBottom.no_of_responses }}] </b>
                        </p>
                      </ng-container>
                    </div>
                    <div class="col-sm-6">
                      <h1>Bottom 3</h1>
                      <ng-container *ngFor="let topBottom of pie.bottom">
                        <p>
                          {{
                          getValues(
                          pie.name.responseName,
                          topBottom[pie.name.db_name],
                          pie.name.findName
                          )
                          }}
                          <b>[{{ topBottom.no_of_responses }}]</b>
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>