<section class="section_login bg-dark d-flex align-items-center py-5">
    <div class="container">
       <div class="login-details bg-white p-5 br-30">
            <div class="row p-5 my-4">
                <div class="col-lg-6 text-center align-self-center">
                    <img src="{{imageSrc}}" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6">
                    <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Username</label>
                          <input type="text" class="form-control" id="username" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" id="password" placeholder="Password" required>
                        </div>
                        <div class="text-center pt-4">
                            <input type="submit" class="btn btn-primary btn-login" value="Login">
                        </div>
                    </form>
                </div>
            </div>
       </div>
    </div>
</section>