<section class="section_frame1-filters py-3">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <button class="filter-btn btn filter-modal" (click)="mandate.show()">
        MANDATE
      </button>
      <button class="filter-btn btn filter-modal" (click)="overview.show()">
        RESPONSE OVERVIEW
      </button>
      <button class="filter-btn btn filters-btn d-flex" (click)="dropdownChange('')">
        <mat-icon class="text-white">refresh</mat-icon>
      </button>
      <button class="filter-btn btn filters-btn">
        View by |
        <span class="text-white">
          {{ currentEnabled === "" ? "All" : currentEnabled }}</span>
        <span class="text-white" *ngIf="currentSelectedValue">
          | {{ currentSelectedValue }}</span>
      </button>
      <ng-container>
        <ng-container *ngFor="let filterValue of filterBy">
          <div class="btn-group">
            <button class="filter-btn" mat-button (click)="dropdownChange(filterValue.name)" [disabled]="
                  currentEnabled === '' || currentEnabled === filterValue.name
                    ? false
                    : true
                " [matMenuTriggerFor]="dropDown">
              {{ filterValue.name }}
            </button>
            <mat-menu #dropDown="matMenu">
              <ng-container *ngIf="!loading && !error">
                <ng-container *ngFor="let list of dropDownList[filterValue.responseName]">
                  <button mat-menu-item (click)="
                      dropdownMenuCliked(list[filterValue.findName], filterValue.db_name, list.id, filterValue.responseName)
                    ">
                    {{ list[filterValue.findName] }}
                  </button>
                </ng-container>
              </ng-container>
            </mat-menu>
          </div>

        </ng-container>
      </ng-container>
    </div>
  </div>
</section>

<!-- INSIGHTS POPUP -->
<ng-container>
  <section class="section_frame1-intro py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="frame1-intro box-shadow br-15 px-1 py-4 text-center h-100">
            <p class="cl-purple fs-22 mb-1">
              <mat-icon class="mr-2 align-middle">people</mat-icon>Number Of
              employees
            </p>
            <h4 class="fs-25" *ngIf="loading && !error">Loading...</h4>
            <h4 class="fs-25" *ngIf="!loading && !error">{{ totNoOfEmp }}</h4>
            <hr />
            <p class="cl-purple fs-22 mb-1">
              <mat-icon class="mr-2 align-middle">compare_arrows</mat-icon>Number Of responses
            </p>
            <h4 class="fs-25" *ngIf="loading && !error">Loading...</h4>
            <h4 class="fs-25" *ngIf="!loading && !error">
              {{ totNoOfRes }} ({{ totNoOfPer }})%
            </h4>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="frame1-intro box-shadow br-15 px-1 py-4 text-center h-100" *ngIf="loading && !error">
            Loading...
          </div>
          <div class="frame1-intro box-shadow br-15 px-1 py-4 text-center h-100" *ngIf="!loading && !error">
            <doughnut-chart [title]="'Well Being Quotient'" [value]="wellBeingQuet"></doughnut-chart>
            <p class="pt-4 fs-30">{{ wellBeingQuet }}</p>
          </div>
        </div>
        <div class="col-12 text-center pt-4 mt-3">
          <button class="filter-btn btn filter-modal fs-16 bgc-orange text-white br-30 mr-2" (click)="insights.show()">
            INSIGHTS
          </button>
          <button class="filter-btn btn filter-modal fs-16 bgc-orange text-white br-30" (click)="action.show()">
            ACTIONS
          </button>
          <!-- INSIGHTS POPUP -->
          <div bsModal #insights="bs-modal" class="modal fade" tabindex="-1" role="dialog"
            aria-labelledby="dialog-sizes-name1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content p-4">
                <div class="">
                  <button type="button" class="close pull-right" (click)="insights.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body insight-content">
                  <h1 class="insight-title">Overall Insights</h1>
                  <div *ngIf="!loading && !error && data?.insight?.insight!='' && data?.insight?.insight!=null"
                    [innerHTML]="data?.insight?.insight | safeHtml"></div>
                  <div *ngIf="!loading && !error && (data?.insight?.insight=='' || data?.insight?.insight==null)">
                    <img src="assets/images/li-logo.png">
                    <div class="row">
                      <div class="col-md-6"><img src="assets/images/culture-logo.png"></div>
                      <div class="col-md-6"><img src="{{ environment.assestUrl }}client_logos/{{currentUser.logo}}"
                          alt="" class="logo-img" /> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ACTIONS POPUP -->
          <div bsModal #action="bs-modal" class="modal actions fade" tabindex="-1" role="dialog"
            aria-labelledby="dialog-sizes-name1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content p-4">
                <div class="">
                  <button type="button" class="close pull-right" (click)="action.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body insight-content">
                  <h1 class="insight-title">Overall Actions</h1>
                  <div *ngIf="!loading && !error && data?.insight?.action!='' && data?.insight?.action!=null"
                    [innerHTML]="data?.insight?.action | safeHtml"></div>
                  <div *ngIf="!loading && !error && (data?.insight?.action=='' || data?.insight?.action==null)">
                    <img src="assets/images/li-logo.png">
                    <div class="row">
                      <div class="col-md-6"><img src="assets/images/culture-logo.png"></div>
                      <div class="col-md-6"><img src="{{ environment.assestUrl }}client_logos/{{currentUser.logo}}"
                          alt="" class="logo-img" /> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 pt-5 overall-dimensions">
          <h2 class="fs-25 mb-5 cl-purple text-center">
            WELL-BEING DIMENSIONS
          </h2>
          <div class="row">
            <ng-container *ngFor="let well of wellBeing; let i = index">
              <div class="col-lg-3 pb-4">
                <div class="frame1-intro box-shadow br-15 p-4 text-center h-100">
                  <ng-container *ngIf="loading && !error">
                    Loading...
                  </ng-container>
                  <ng-container *ngIf="!loading && !error">
                    <doughnut-chart [title]="well.name" [value]="wellBeingTot[i]"></doughnut-chart>
                  </ng-container>
                  <p class="pt-4 fs-30 mb-3">
                    {{ wellBeingTot[i] }} <span *ngIf="wellBeingTrade[i]"> | {{wellBeingTrade[i]}}
                      <!-- <img *ngIf="wellBeingTrade[i] == 0" src="assets/images/normal.jpeg"
                        [ngStyle]="{'width': '20px', 'height':'20px'}"> -->
                      <img *ngIf="wellBeingTrade[i] > 0" src="assets/images/increase.png"
                        [ngStyle]="{'width': '20px', 'height':'20px'}">
                      <img *ngIf="wellBeingTrade[i] < 0" src="assets/images/decrease.png"
                        [ngStyle]="{'width': '20px', 'height':'20px'}">
                    </span>
                  </p>
                  <div class="d-flex flex-wrap justify-content-center">
                    <button class="btn bgc-blue" (click)="showChildModal(i, 'about')">
                      ABOUT
                    </button>
                    <button class="btn bgc-orange" (click)="showChildModal(i, 'insight')">
                      INSIGHTS
                    </button>
                    <button class="btn bgc-orange" (click)="showChildModal(i, 'action')">
                      ACTIONS
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <!-- ABOUT POPUP -->
          <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
            aria-labelledby="dialog-sizes-name1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content p-4">
                <div class="">
                  <button type="button" class="close pull-right" (click)="hideChildModal('about')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">
                  <h2 class="fs-25">About</h2>
                  <div [innerHTML]="aboutModalcontent | safeHtml"></div>
                  <hr class="my-2" />
                  <h2 class="fs-25">Statements</h2>
                  <div [innerHTML]="statementModalcontent | safeHtml"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- INSIGHTS POPUP -->
          <div bsModal #childInsightModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
            aria-labelledby="dialog-sizes-name1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content p-4">
                <div class="">
                  <button type="button" class="close pull-right" (click)="hideChildModal('insight')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body insight-content text-center">
                  <h1 class="insight-title">Insights</h1>
                  <div [innerHTML]="insightModalcontent | safeHtml"></div>
                </div>

                <!-- <div class="modal-body text-center">
                  <div [innerHTML]="insightModalcontent | safeHtml"></div>
                </div> -->
              </div>
            </div>
          </div>

          <!-- ACTIONS POPUP -->
          <div bsModal #childActionModal="bs-modal" class="modal fade action" tabindex="-1" role="dialog"
            aria-labelledby="dialog-sizes-name1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content p-4">
                <div class="">
                  <button type="button" class="close pull-right" (click)="hideChildModal('action')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body insight-content text-center">
                  <h1 class="insight-title">Actions</h1>
                  <div [innerHTML]="actionModalcontent | safeHtml"></div>
                </div>
                <!-- <div class="modal-body text-center">
                  <div [innerHTML]="actionModalcontent | safeHtml"></div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 pt-4" id="heat">
          <h2 class="fs-25 mb-5 cl-purple text-center">WELL-BEING HEAT MAP</h2>
          <ng-container *ngIf="loading && !error">
            <div class="box-shadow box-overflow p-5 br-15 mb-50">
              <ng-container *ngFor="let heat of filterBy;let i = index" class="">
                <div *ngIf="graphValue[heat.responseName] && graphValue[heat.responseName].length > 0" [ngClass]="
                  currentEnabled === '' || currentEnabled === heat.name
                    ? 'show'
                    : 'hide'
                ">
                  <span *ngIf="i==0">Loading...</span>
                </div>
              </ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="!loading && !error">
            <div class="box-shadow box-overflow padding-5 br-15">
              <ng-container *ngFor="let heat of filterBy; let i = index" class="">
                <div *ngIf="graphValue[heat.responseName].length > 0" [ngClass]=" currentEnabled==='' ||
                  currentEnabled===heat.name ? 'show' : 'hide' ">
                  <app-heatmap [name]=" heat.name" [data]="graphValue[heat.responseName]" [xData]="wellBeing"
                    [yData]="data.dropDownList[heat.responseName]" [searchName]="heat.findName" [dbName]="heat.db_name">
                  </app-heatmap>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div class="col-12 pt-5">
          <h2 class="fs-25 mb-5 cl-purple text-center">
            EMPLOYEE MOOD ANALYSIS
          </h2>
          <div class="box-shadow p-5 br-15">
            <bar-chart *ngIf="!loading && !error" [data]="employeeMood"></bar-chart>
            <!-- <div *ngIf="loading && !error">
              Loading...
            </div> -->
          </div>
        </div>
        <div class="col-12 pt-5">
          <h2 class="fs-25 mb-5 cl-purple text-center">EMPLOYEE FEELINGS</h2>

          <div class="box-shadow p-5 br-15">
            <radar-chart *ngIf="!loading && !error" [data]="employeeFeeling"></radar-chart>
            <!-- <div *ngIf="loading && !error">
              Loading...
            </div> -->
          </div>
        </div>
        <div class="col-12 pt-5">
          <h2 class="fs-25 mb-3 cl-purple text-center">OPEN TEXT ANALYSIS</h2>

          <div class="d-flex justify-content-center align-items-center">
            <p class="cl-purple text-center mb-0 mr-4">Choose question :</p>
            <button type="button" class="filter-btn btn br-30" (click)="showChildModal(0, 'openText')">
              Click to select<span class="caret"></span>
            </button>
          </div>

          <div class="row pt-5">
            <div class="col-lg-12">
              <div *ngIf="!loading && !wordLoading && !error">
                <p class="text-center">
                  <span class="font-bold cl-orange pr-1" *ngIf="opentextvalues[selectedOpentext]?.question">{{
                    opentextvalues[selectedOpentext]?.category_name }} : </span>{{
                  opentextvalues[selectedOpentext]?.question }}
                </p>
                <p class="text-center" *ngIf="opentextvalues[selectedOpentext]?.questionvaluestatus == 1">
                  % of disagreement : <span class="font-bold cl-orange pr-1">
                    {{opentextvalues[selectedOpentext]?.questionvalue}} %</span>
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div *ngIf="(loading || wordLoading) && !error" class="h-100">Loading...</div>
              <app-wordcloud *ngIf="!loading && !wordLoading && !error" [data]="openVal"></app-wordcloud>
            </div>
            <div class="col-lg-6">
              <div *ngIf="!loading && !wordLoading && !error"
                class="box-shadow br-15 pl-5 pr-4 py-4 flex-container h-100" [innerHTML]="
                  opentextvalues[selectedOpentext]?.statement != null ? opentextvalues[selectedOpentext]?.statement : '' | safeHtml
                "></div>
              <div *ngIf="loading || wordLoading && !error" class="box-shadow br-15 pl-5 pr-4 py-4 flex-container">
                Loading...
              </div>
            </div>
          </div>
          <!-- SELECT POPUP -->
          <div bsModal #openTextModal="bs-modal" class="modal fade select" tabindex="-1" role="dialog"
            aria-labelledby="dialog-sizes-name1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content p-4">
                <div class="">
                  <button type="button" class="close pull-right" (click)="hideChildModal('openText')"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body px-0 pt-2 pb-0">
                  <ul class="mb-0 open-text">
                    <ng-container *ngFor="let text of opentextvalues; let i = index">
                      <li (click)="hideChildModal('openText', i)">
                        <div>
                          <span class="font-bold cl-orange pr-1">{{ text?.category_name }} : </span>{{ text?.question }}
                        </div>
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>

<!-- Mandate -->
<div bsModal #mandate="bs-modal" class="modal mandate fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="">
        <button type="button" class="close pull-right" (click)="mandate.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="!loading && !error" class="modal-body insight-content text-center">
        <h1 class="insight-title">Mandate</h1>
        <div [innerHTML]="data?.insight?.mandate | safeHtml"></div>
      </div>
      <!-- <div *ngIf="!loading && !error" class="modal-body" [innerHTML]="data.insight.mandate | safeHtml"></div> -->
    </div>
  </div>
</div>

<!-- RESPONSE OVERVIEW POPUP -->
<div bsModal #overview="bs-modal" [config]="{ignoreBackdropClick : true}" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="">
        <button type="button" class="close pull-right" (click)="overview.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Response Overview</h1>
        <div class="row">
          <ng-container *ngFor="let pie of overviewResponse; let i = index">
            <div class="col-md-6 col-xs-12" [ngStyle]="{'padding': '20px 0'} ">
              <h2 class="tiitle-h2">{{ pie.name.name }}</h2>
              <pie-chart [data]="pie.values" [name]="pie.name"
                [dropDownData]="data?.dropDownList[pie.name.responseName]">
              </pie-chart>
              <!-- <div class="row">
              <div class="col-md-6">
                <pie-chart [data]="pie.values" [name]="pie.name"
                  [dropDownData]="data.dropDownList[pie.name.responseName]"></pie-chart>
              </div>
              <div class="col-md-6">

                <div class="col-md-12">
                  <div class="row">
                    <div class="col-sm-6">
                      <h1>Top 3</h1>
                      <ng-container *ngFor="let topBottom of pie.top">
                        <p>
                          {{
                          getValues(
                          pie.name.responseName,
                          topBottom[pie.name.db_name],
                          pie.name.findName
                          )
                          }}
                          <b>[{{ topBottom.no_of_responses }}] </b>
                        </p>
                      </ng-container>
                    </div>
                    <div class="col-sm-6">
                      <h1>Bottom 3</h1>
                      <ng-container *ngFor="let topBottom of pie.bottom">
                        <p>
                          {{
                          getValues(
                          pie.name.responseName,
                          topBottom[pie.name.db_name],
                          pie.name.findName
                          )
                          }}
                          <b>[{{ topBottom.no_of_responses }}]</b>
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
